.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-button-style {
  display: flex;
}

// button {
//   background-color: rgb(77, 127, 202);
//   border: solid 2px;
//   box-shadow: 4px 4px 5px white;
//   height: 62px;
//   margin: 0px 15px;
//   width: 90px;
// }

h1 {
  font-size: 72px;
  text-shadow: 3px 3px 3px white
}