.app {
  text-align: center;
  height: 970px;
}

.background-img {
  position: fixed;
  left: 0px;
  opacity: 0.9;
  top: 0px;
  z-index: -1;
}

.crawler {
  height: 200px;
}

.landing-page {
  background: black;
  height: 100%;
  display: flex;
  padding: 30px;
  h2 {
    color: white;
    font-size: 4rem;
  }
}