.nav-btn {
  // -webkit-appearance: none;
  background-color: rgb(77, 127, 202);
  border-radius: 3px;
  // border: solid 2px;
  // box-shadow: 4px 4px 5px white;
  color: white;
  display:flex;
  border: none;
  padding: 10px;
  justify-content: center;
  text-decoration: none;
  margin: 0px 3px;
  opacity: 1;
  width: 100px;
  &:hover {
    opacity: .7;
    transform: scale(1.05);
  }
  &:active {
    background-color: #f08e26;
  }
}

.nav-bar {
  display: flex;
}
